<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <%- include('./common/_header') %>
    <main>
      <%- include('./parts/_p-complete') %> <%-
      include('./parts/_p-not-found') %> <%-
      include('./parts/_p-information') %> <%-
      include('./parts/_p-not-found') %>
      <%- include('./parts/_p-works') %>
    </main>
    <%- include('./common/_footer') %>
  </body>
</html>
