<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <%- include('./common/_header') %>
    <main>
      <%- include('./parts/_p-complete.ejs') %> <%-
      include('./parts/_p-not-found.ejs') %> <%-
      include('./parts/_p-information.ejs') %> <%-
      include('./parts/_p-not-found.ejs') %>
      <%- include('./parts/_p-works.ejs') %>
    </main>
    <%- include('./common/_footer') %>
  </body>
</html>
