<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
  <body>
    <%- include('./common/_header') %>
    <section class="l-page-contact">
      <%- include('./parts/_p-page-contact') %>
    </section>
      <%- include('./common/_footer') %>
      <%- include('./compornent/_c-page-top',{link:'#'}) %>
  </body>
</html>

