<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <%- include('./common/_top-header') %> <%-
    include('./parts/_c-btn',{text:'これはテストです', link:'#'}) %> <% for (var
    i=0; i < 4; i++) { %> <%- include('./parts/_c-btn',{text:'これはテストです',
    link:'#'}) %> <% } %> <%- include('./common/_header') %> <%-
    include('./parts/_p-swiper') %> <%- include('./parts/_p-contact') %> <%-
    include('./common/_footer') %> <%- include('./parts/_c-page-top',{link:'#'})
    %>
  </body>
</html>
