<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <%- include('./common/_header') %>
  <main>
    <div class="l-mv">
      <%- include('./parts/_p-mv') %>
    </div>
    <div class="l-news">
 
      <%- include('./parts/_p-news') %>
    </div>
    <div class="l-content">
      <%- include('./parts/_p-content') %>
    </div>
    <div class="l-contact">
      <%- include('./parts/_p-contact') %>
    </div>
  </main>
    <%- include('./common/_footer') %>
    <%- include('./compornent/_c-page-top',{link:'#'}) %>
  </body>
</html>
