<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
  <body>
    <%- include('./common/_top-header') %>
      <%- include('./parts/_c-btn',{text:'これはテストです', link:'#'}) %>


    <% for (var i=0; i < 4; i++) { %>
      <%- include('./parts/_c-btn',{text:'これはテストです', link:'#'}) %>
      <% } %>

      <%- include('./common/_works-archive') %>
      <%- include('./common/_contact') %>
      <%- include('./common/_footer') %>
      <%- include('./parts/_c-page-top',{link:'#'}) %>
      
  </body>
</html>
