<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <%- include('./common/_header') %>
    <main>
      <%- include('./parts/project/_p-swiper') %>
      <%- include('./parts/project/_p-sub-blog-items.ejs') %>
    </main>

    <footer>
      <%- include('./parts/project/_p-contact') %>
      <%- include('./common/_footer') %>
    </footer>
  </body>
</html>
