<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
  <body>
<div class="l-works-archive p-works-archive">
    <div class="l-inner">
        <div class="p-works-archive__category">
            <%- include('./parts/_p-archive__lists') %>
        </div>
    </div>
    <div class="l-works-archive__inner">
        <ul class="p-works-archive__cards p-archive-cards">
            <li class="p-works-archive-cards__list p-archive-card">
                <figure class="p-archive-card__image" style="background-image : url(./images/common/works-archive/works-1.jpg)">
                    <div class="p-archive-card__category-wrapper">
                        <span class="c-archive-card__category">カテゴリ1</span>
                    </div>
                </figure>
                <div class="p-archive-card__title">
                    <h3 class="c-card-title">CodeUps株式会社</h3>
                </div>
            </li>
            <li class="p-works-archive-cards__list p-archive-card">
                <figure class="p-archive-card__image" style="background-image : url(./images/common/works-archive/works-2.jpg)">
                    <div class="p-archive-card__category-wrapper">
                        <span class="c-archive-card__category">カテゴリ1</span>
                    </div>
                </figure>
                <div class="p-archive-card__title">
                    <h3 class="c-card-title">CodeUps株式会社</h3>
                </div>
            </li>
            <li class="p-works-archive-cards__list p-archive-card">
                <figure class="p-archive-card__image" style="background-image : url(./images/common/works-archive/works-3.jpg)">
                    <div class="p-archive-card__category-wrapper">
                        <span class="c-archive-card__category">カテゴリ1</span>
                    </div>
                </figure>
                <div class="p-archive-card__title">
                    <h3 class="c-card-title">CodeUps株式会社</h3>
                </div>
            </li>
            <li class="p-works-archive-cards__list p-archive-card">
                <figure class="p-archive-card__image" style="background-image : url(./images/common/works-archive/works-4.jpg)">
                    <div class="p-archive-card__category-wrapper">
                        <span class="c-archive-card__category">カテゴリ1</span>
                    </div>
                </figure>
                <div class="p-archive-card__title">
                    <h3 class="c-card-title">CodeUps株式会社</h3>
                </div>
            </li>
            <li class="p-works-archive-cards__list p-archive-card">
                <figure class="p-archive-card__image" style="background-image : url(./images/common/works-archive/works-5.jpg)">
                    <div class="p-archive-card__category-wrapper">
                        <span class="c-archive-card__category">カテゴリ1</span>
                    </div>
                </figure>
                <div class="p-archive-card__title">
                    <h3 class="c-card-title">CodeUps株式会社</h3>
                </div>
            </li>
            <li class="p-works-archive-cards__list p-archive-card">
                <figure class="p-archive-card__image" style="background-image : url(./images/common/works-archive/works-6.jpg)">
                    <div class="p-archive-card__category-wrapper">
                        <span class="c-archive-card__category">カテゴリ1</span>
                    </div>
                </figure>
                <div class="p-archive-card__title">
                    <h3 class="c-card-title">CodeUps株式会社</h3>
                </div>
            </li>
        </ul>
    </div>
    <div class="l-pager p-pager">
        <div class="l-inner">
            <%- include('./parts/_p-pager') %>
        </div>
    </div>
</div>
<%- include('./parts/_p-contact') %>
<%- include('./common/_footer') %>
<%- include('./parts/_c-page-top',{link:'#'}) %>
</body>
</html>
